h1 {
  margin: 0 auto;
  text-align: center;
}

img {
  height: 300px;
  width: 300px;
}

/* show #screen1 when app first starts */
#game-screen {
  display: block;
}

/* hide other screens when app first starts */
#rules-screen,
#start-screen,
#input-screen,
#post-game-screen {
  display: none;
}

/* .card {
  background-color: rgb(128, 128, 128);
} */

.turn-result-message {
  color: green;
}

.container {
  text-align: center;
}

.count {
  font-size: 40px;
}

.active-card {
  font-size: 30px;
}

.mid-cards {
  display: inline-block;
  width: 100px;
}

/* can add custom CSS for each specific screen */
/* #start-screen {
}

#rules-screen {
}

#game-screen {
}

#input-screen {
} */

/* To test the div location */
/* .previous-card {
  background-color: blue;
}

.current-card {
  background-color: red;
} */
