body {
  background-color: #7cd1b8;
}

h1 {
  margin: 20px auto;
  margin-bottom: 0px;
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
  font-style: oblique;
  color: #3e8e7e;
}

img {
  height: 300px;
  width: 300px;
  margin: 50px;
}

/* show #screen1 when app first starts */
#start-screen {
  /* #input-screen { */
  /* #game-screen { */
  /* #post-game-screen { */
  display: block;
}

/* hide other screens when app first starts */
#game-screen,
#input-screen,
/* #start-screen, */
#post-game-screen {
  display: none;
}

#input-screen > * {
  vertical-align: top;
  text-align: center;
}

.screen {
  text-align: center;
  /* width: 60%; */
  margin: 0 auto;
}

/* .card {
  background-color: rgb(128, 128, 128);
} */

.turn-result-message {
  color: black;
  font-size: large;
  display: block;
  height: 50px;
  font-family: Montserrat;
  font-weight: 800;
  text-align: center;
  line-height: 50px;
}

.container {
  text-align: center;
}

.count {
  font-size: 40px;
}

.active-card {
  font-size: 30px;
}

.mid-cards {
  display: inline-block;
  width: 100px;
}

.rules,
.input {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
}

.rules > * {
  border: 1px solid;
  text-align: left;
}

#rules-container,
.input,
div {
  font-family: Merriweather, sans-serif;
}

#rules-container {
  padding: 10px;
  background-color: #faedc6;
}

.input {
  padding: 10px;
  padding-bottom: 30px;
  background-color: #fabb51;
  border: 1px solid;
}

h3,
h4 {
  font-family: Montserrat, sans-serif;
}

button {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3e8e7e;
  color: white;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  margin: 5px;
}

button:hover {
  transform: perspective(10px) translateZ(0);
  box-shadow: 0 0 10px rgb(0 0 0 / 0%);
  transition-duration: 0.3s;
  transition-property: transform;
}

.snap-button {
  background-color: #fabb51;
  color: black;
}

#post-game-result-container {
  margin: 30px 20px;
  color: black;
}

#post-game-result-message {
  color: black;
}

.count {
  font-family: Montserrat;
}

#game-screen {
  padding-top: 30px;
}

/* can add custom CSS for each specific screen */
/* #start-screen {
}

#rules-screen {
}

#game-screen {
}

#input-screen {
} */

/* To test the div location */
/* .previous-card {
  background-color: blue;
}

.current-card {
  background-color: red;
} */
